/* layout */

.wrapper {
	width: 900px;
	margin: 0 auto;
}

#header {
	background: #000 url('../images/header/headerBg.png') top center no-repeat;
	padding: 25px 10px 0 0;
}

#masthead { background: #ffffff;}

#body {
	background: #ffffff;
}

#leftSidebar {
	float:left;
	width: 180px;
	background: #000000;
}

#leftSidebar img { max-width: 180px; display: block;}

#content {
	float:left;
	width: 498px;
	padding: 0 18px 0 10px;
}

#rightSidebar {
	float:left;
	width: 184px;
	padding: 10px 0 0 10px;
}

#bottom {
	background: rgb(125,125,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,125,125,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,125,125,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,125,125,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,125,125,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,125,125,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(125,125,125,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	padding: 0 10px 20px;
}

#footer {
	background: #ffffff;
}