/* layout */

.wrapper {
	width: 900px;
	margin: 0 auto;
}

#header {
	background: #000 url('../images/header/headerBg.png') top center no-repeat;
	padding: 0 10px;
}

#body {
	background: #ededed;
}

#leftSidebar {
	float:left;
	width: 180px;
	background: #ffffff;
}

#content {
	float:left;
	width: 498px;
	padding: 0 18px 0 10px;
}

#rightSidebar {
	float:left;
	height: 400px;
	width: 194px;
	background: #ffffff;
}