/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu { 
	font-family: Arial Narrow; 
	font-weight: bold; 
	font-size: 12px;
}

.moduletable_hmenu.primary { 
	float: right; 
	text-transform: uppercase;
	clear: both;
	margin: 40px 0 5px;
}
.moduletable_hmenu.primary > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.primary > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.moduletable_hmenu.primary a {color: #ffffff;}
.moduletable_hmenu.primary a:hover, .moduletable_hmenu.primary li.active a {color: #b5272d; text-decoration: none;}

/*MINI MENU IN HEADER*/

.moduletable_miniMenu {
	float: right;
	color: #EB7830;
	font-style: italic;
	font-weight: bold;
	font-style: italic;
	margin: 0 10px 0 0;
	font-size: 12px;
}

.moduletable_miniMenu a { color: #EB7830; }
.moduletable_miniMenu a:hover { color: #ffffff; text-decoration: none; }

/*addThis button*/

.joomla_add_this {
	float: right;
}


/* @group vmenu */
.moduletable_vmenu { font-family: arial, helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.moduletable_vmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin-left: 1.5em;
}


.moduletable_vmenu li li { padding: 3px 0; }

.moduletable_vmenu > ul > li > a,
.moduletable_vmenu > ul > li > span {
	background: url('../images/menu/menuItemBg.png') top center repeat-y;
	display: block;
	padding: 3px 0 0px 5px;
	height: 17px;
}

.moduletable_vmenu ul li a { color: #7d7d7d; } /*category titles*/
.moduletable_vmenu ul li ul li a { color: white; } /*category list*/

.moduletable_vmenu a:hover { color:#EB7830; }

/* /vmenu */

/*socialNetworkLinks*/

.moduletable_social { float: right; margin: 0 0 0 0; }
.moduletable_social a {padding-left: 10px;}
.moduletable_social a:first-child {padding-left: 0px;}

/*leftSidebar menus*/

/*rightSidebar menus*/

.moduletable_boxMenu {
	font-family: arial, helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.7);
	width: 162px;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	margin-top: 25px;
}
.moduletable_boxMenu:first-child { margin-top: 0;}

.moduletable_boxMenu h3 { 
	font-family: Candara;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	line-height: 12px;
	color: #ffffff;
	height: 37px;
	padding: 11px 61px 0px 10px;
}

.moduletable_boxMenu li { list-style: none; padding-left: 10px;}

.moduletable_boxMenu ul {
	background: url('../images/finalBoxes/services_repeat.png') top left repeat-y;
	margin: 0;
	padding: 10px 0;
}

.moduletable_boxMenu a {
	text-decoration: underline;
	color: #8A8A8A;
}

.moduletable_boxMenu a:hover { color: #EB7830;}

/*menu top styles*/
.orange h3 { background: url('../images/finalBoxes/medTop.jpg') top left no-repeat; padding: 6px 69px 0px 10px; height: 42px; }
.lightRed h3 { background: url('../images/finalBoxes/weightTop.jpg') top left no-repeat; }
.mediumRed h3 { background: url('../images/finalBoxes/athleteTop.jpg') top left no-repeat; }
.darkRed h3 { background: url('../images/finalBoxes/wellnessTop.jpg') top left no-repeat; }
.grey h3 { background: url('../images/finalBoxes/symptomsTop.jpg') top left no-repeat; }



