/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu { 
	font-family: Arial Narrow; 
	font-weight: bold; 
	font-size: 12px;
}

.moduletable_hmenu.primary { 
	float: right; 
	text-transform: uppercase;
	clear: both;
	margin: 40px 0 5px;
}
.moduletable_hmenu.primary > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.primary > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.moduletable_hmenu.primary a {color: #ffffff;}
.moduletable_hmenu.primary a:hover, .moduletable_hmenu.primary li.active a {color: #b5272d; text-decoration: none;}

/*MINI MENU IN HEADER*/
.moduletable_hmenu.small { 
	float: right; 
	font-style: italic;
	margin: 25px 0 0 0;
}

.moduletable_hmenu.small > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.small > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.moduletable_hmenu.small li { border-left: 2px solid #EB7830; line-height: 10px; }
.moduletable_hmenu.small li:first-child { border: none; }
.moduletable_hmenu.small a { color: #EB7830; }
.moduletable_hmenu.small a:hover { color: #ffffff; text-decoration: none; }


/* /hmenu */


/* @group vmenu */
.moduletable_vmenu { font-family: arial, helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.moduletable_vmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin-left: 1.5em;
}


.moduletable_vmenu li li { padding: 3px 0; }

.moduletable_vmenu > ul > li > a,
.moduletable_vmenu > ul > li > span {
	background: url('../images/menu/menuItemBg.png') top center repeat-y;
	display: block;
	padding: 3px 0 0px 5px;
	height: 17px;
}
.moduletable_vmenu a, .moduletable_vmenu a:visited { color: #7d7d7d; }
.moduletable_vmenu a:hover { color:#EB7830; }

/* /vmenu */

/*socialNetworkLinks*/

.moduletable_social { float: right; margin: 25px 0 0 0; }
.moduletable_social a {padding-left: 10px;}
.moduletable_social a:first-child {padding-left: 0px;}
