/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }


.moduletable_pageHeader,
.moduletable_pageHeaderSecondary {
	font-family: Candara;
	font-style: italic;
	background: #7d7d7d;
	height: 25px;
	color: #ffffff;
}

.moduletable_pageHeader {
	font-size: 18px;
	padding: 0 0 0 20px;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	text-transform: uppercase;
}

.moduletable_pageHeaderSecondary {
	font-size: 17px;
	background: url('../images/header/headerStyle2.jpg') top center no-repeat;
	padding: 0 0 0 193px;
	max-height: 24px;
}

#bottom .moduletable_pageHeader { border-top: 0; background: none; padding: 0;}
#bottom .moduletable_pageHeader p { 
	border-bottom: 1px solid #ffffff;
	padding-left: 3px;
}

/*in case one of the sidebars or both sidebars are removed*/
.wide1 { width: 705px;}
.wide2 { width: 720px;}
.wide3 { width: 100%; }

/*boxMenu header styles*/
.orange h3 { background: url('../images/finalBoxes/medTop.jpg') top left no-repeat; padding: 6px 69px 0px 10px; height: 42px; }
.lightRed h3 { background: url('../images/finalBoxes/weightTop.jpg') top left no-repeat; }
.mediumRed h3 { background: url('../images/finalBoxes/athleteTop.jpg') top left no-repeat; }
.darkRed h3 { background: url('../images/finalBoxes/wellnessTop.jpg') top left no-repeat; }
.grey h3 { background: url('../images/finalBoxes/symptomsTop.jpg') top left no-repeat; }
